@charset "UFT-8";
h1#principal{
    text-align: center;
    color: #3FD1E8;
    background-color: #1A565F;
    font-family: Arial, Helvetica, sans-serif;
}
.primeiro{
    text-align: right;
    color: rebeccapurple;
    background-color: lightcoral;
    
}
.junto{
    color: red;
}